p {
    margin: 0;
}

.navbar-default {
    background: white;
}

.navbar-search
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}
.navbar-toggle {
    z-index:3;
}

#input-search {
    border-radius: 20px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    padding-left: 5px;
    height: 30px;
    margin-top: 10px;
}

body {
    display: flex;
}

div.timeline {
    padding-top: 120px;
    margin: 0 auto;
    flex-grow: 1;
    max-width: 600px;
    width: 100%;
}

/************************/
/*       HEADER         */
/************************/

article.post {
    width: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
}

div.post-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 20px;
}

a.post-header-time {
    align-self: flex-start;
    color: #999;
    text-decoration: none;
    font-size: 15px;
}

div.post-header-informations {
    flex-grow: 1;
}

div.post-header-picture {
    max-width: 28px;
    max-height: 28px;
    overflow: hidden;
    border-radius: 15px;
    margin-right: 10px;
}

div.post-header-picture img {
    width: 100%;
    height: 100%;
}

div.post-header-informations a {
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 15px;
    line-height: 18px;
}

/************************/
/*        IMAGE         */
/************************/

div.post-picture {
    width: 100%;
}

div.post-picture img {
    max-width: 100%;
}

/************************/
/*     INFORMATIONS     */
/************************/

div.post-informations {
    width: 100%;
    padding: 20px 24px;
}

div.post-informations ul {
    list-style-type: none;
    -webkit-padding-start: 0px;
}

div.post-informations ul li {
    margin-bottom: 7px;
}

div.post-informations ul li:last-child {
    margin-bottom: 0;
}

p.post-informations-likes {
    margin-bottom: 7px;
    font-weight: bold;
}

div.post-informations span.author a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

div.post-informations span.comment {
    word-wrap: break-word;
}

div.post-informations button.view-comments {
    border: none;
    background: #fff;
    padding: 0;
    color: #999;
    font-weight: 500;
}

div.post-informations-comment {
    margin-top: 20px;
    border-top: 1px solid #efefef;
    min-height: 68px;
}
